{{#*inline "body"}}
<div class="content-area">
<main class="site-main">

    <div class="post-feed">
        {{#foreach posts}}
            {{> partials/loop}}
        {{/foreach}}
    </div>

    {{pagination}}

</main>
</div>
{{/inline}}
{{> default}}